
.header {
    width: 100%;
    height: 500px;
    margin-top: -1.5%;
    padding: 1%;
    font-size: 2rem;
    color: white;
    margin-bottom: 1%;
    background-image: url("./looneybg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid rgb(100, 121, 153);
  }
  
  .title1 {
    float: left;
    font-size: 140%;
  }
  
  .title2 {
    float: left;
    margin-top: -2%;
  }
  
  .description {
    margin-top: 10%;
  }
  
  div {
    font-family: Pacifico;
  }

  .score {
    margin-right: 8%;
    margin-top: -35%;
    float: right;
    font-size: 160%;
    font-family: Pacifico;
  }

  .highScore {
    margin-right: 4%;
    margin-top: -24%;
    float: right;
    font-size: 160%;
  }